@import "../../App.module";

.HeaderContainer {
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    transition: all 0.3s;
    font-size: 12px;
    .PageTitle {
        a {
            color: inherit;
            text-decoration: none;
            font-weight: bolder;
            span {
                color: $MainBlueColor;
                border-right: solid 2px $MainBlueColor;
                padding: 0px 5px;
            }
        }
        .ToggleHeaderButton {
            display: none;
            @media (max-width: 674px) {
                display: inline;
                outline: none;
                color: $MainBlueColor;
                border: none;
                background-color: inherit;
                font-size: 20px;
                cursor: pointer;
            }
        }
        // Media Query for the Page Title .
        @media (max-width: 674px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
    .RoutesList {
        list-style: none;
        display: flex;
        color: $MainBrownColor;
        padding: 0px;
        flex-wrap: wrap;
        margin: 0px;
        li {
            font-size: 1.5rem;
            font-family: "Roboto", sans-serif;
            padding: 10px;
            @media (max-width: 674px) {
                width: 100%;
            }
            @media (max-width: 674px) {
                width: 100%;
            }
            a {
                color: inherit;
                text-decoration: none;
            }
        }
        // the Active Class for the NavLink .
        .Active {
            font-weight: bolder;
        }

        & :hover {
            color: #8b8080;
        }
        // Media Query for the Routes List .
        @media (max-width: 674px) {
            width: 100%;
        }
    }

    // Media Query for the Header .
    @media (max-width: 674px) {
        padding: 0px;
    }
}

// The Height of the Header when it is closed .
.HeaderClosed {
    @media (min-width: 674px) {
        height: 81px;
    }
    @media (max-width: 674px) {
        height: 60px;
    }
}
// The Normal height Of the Header .
.HeaderOpened {
    height: 250px;
}
