
.ListItem{
    width : 50% ;
    display : flex ;
    flex-wrap : wrap ;
    text-align : left !important ;
    h4{
        width : 100% ;
        font-size : 1.5rem ;
    }
    img , p {
        max-width : 100% ; 
        @media (min-width:1116px) {
            width:45% ;
            min-width:45% ;
        }
        @media (max-width:880px) {
            width:90%;
            max-width: 90% ;
            padding : 10px ;
        }
    }
}