
.ListItem{
    width : 45% ;
    display : flex ;
    flex-wrap : wrap ;
    text-align : left !important ;
    h4{
        width : 100% ;
        font-size : 1.5rem ;
    }
    img , p {
        max-width : 40% ; 
        width : 40% ;  
        @media (max-width:880px) {
            width:90%;
            max-width: 90% ;
            padding : 10px ;
        }
        @media (max-width:510px) {
            width:100% ;
            max-width:100% ;
        }
    }

}