@import "../../App.module";
$MainFontSize: 2.5rem;

.AboutUsContainer {
    padding-top: 30px 10px;
    h2 {
        font-size: $MainFontSize;
    }
    // Starting The CSS for the What we do Page .



    // Starting the Css for the What We Do Page .
    .Discription {
        font-size: 1.6rem;
        color: $MainBrownColor;
        max-width: 90%;
        padding-bottom: 20px;
        color: $MainBrownColor;
        line-height: 40px;
        a {
            text-decoration: underline;
            color: #012b3d;
            font-weight: bolder;
            padding : 5px; 
        }
        @media (max-width: 734px) {
            max-width: 100%;
            font-size : 1.2rem ;
            line-height: 30px;
        }
    }
    .ITalic{
        font-style : italic ;
    }
}