@import "../../App.module";
.HomePageContainer {
    text-align: center;
    .OurSpecializationContainer {
        font-family: "Cabin", sans-serif;
        padding: 10px;
        min-height: 50vh;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        h2 {
            font-size: 2rem;
            font-weight: 400;
            @media (max-width:1662px) {
                font-size  : 1.5rem ;
            }
        }
        p {
            color: $MainBrownColor;
            font-size: 1.5rem;
        }

    }
}
.OurPracticesContainer,
.OurIndustreisContainer {
    blockquote {
        max-width : 85% ;
        margin : 0px auto 5 0px auto  ;
        font-size: 2rem;
        font-weight: 300;
        @media (max-width:1662px) {
            font-size  : 1.5rem ;
        }
    }
    P {
        font-size: 1.5rem;
        max-width : 70% ;
        margin : auto; 
        @media(max-width:872px) {
            max-width: 100%;
        }
    }
}

.OurIndustreisContainer {
    padding: 20px;
    min-height: 50vh;
    background-color: #c0bbbb;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align  :Center ;
    @media (max-width:734px) {
        min-height : 80vh ;
    }
}
